

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #36404A;
    color: white;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}

/*Card styling */


.card{
    background-color: #546373;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    padding: 1rem;
}

.author{
    font-size: 1.2rem;
}

.title{
    font-size: 1.5rem;
}

.numPages{
    font-size: 1rem;
}

.read,
.not-read{
    height: 1rem;
    cursor: pointer;
}

.read{
    background-color: green;
}

.not-read{
    background-color: red;
}

.bookX{
    color: red;
    position: absolute;
    top: .1rem;
    right: .6rem;
    font-size: 1.2rem;
    cursor: pointer;
}

button{
    border: none;
    background-color: #546373;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    padding: 1rem;
    border-radius: 15px;
}

/*Modal styling*/

#openModal{
    margin-bottom: 1rem;
}

.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-width: 600px;
    max-width: 20rem;
    background-color: #546373;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.hidden{
    display: none;
    display: none;  /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modalX{
    color: red;
    position: absolute;
    top: -.2rem;
    right: .2rem;
    font-size: 28px;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}